<?xml version='1.0' encoding='utf-8'?>
<widget id="tabris.es6.test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Tabris ES6 Test App</name>
  <description>
    Provisional example app
  </description>
  <plugin name="cordova-plugin-media" version="2.2.0" />
</widget>
